* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 217, 217);
}

html {
    font-size: 62.5%;
}

.sign_up {
    width: 100%; 
    height: 100vh;
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav {
    padding: 60px 0px;
    text-align: center;
    width: 100%;
}

nav ul {
    background-color: black;
    
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

nav ul li {
    display: inline-block;
    font-size: 24px;
    margin: 12px 12px;
}

ul li :hover {
    color: blue;
    transition: 1.5s;
    cursor: pointer;
} 

.form-section{
	width: 30rem;
	height: auto;
	margin: 3rem auto;
	background-color: white;
	text-align: center;
	box-shadow: 0px 0px 3px white;
	border-radius: 0.2rem;
}

.form-section h1 {
	color: blue;
	font-size: 2.5rem;
	margin: 1rem;
	padding-top: 1rem; 
}

.form-section input {
	margin: 1rem;
	padding: 0.8rem 2.5rem;
	border: 1.5px solid blue;
	border-radius: 2rem;
}

.form-section input::placeholder{
	color: black;
}

.terms{
	color: blue;
	font-size: 1.2rem;
	font-family: sans-serif;
}

.form-section button{
	margin: 2rem;
	padding: 0.8rem 8.5rem;
	border: 0;
	border-radius: 2rem;
	background: blue;
}

.form-section button:hover {
    cursor: pointer;
}